* {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}

.body-container {
  font-family: 'Merriweather', serif;
  font-size: 14px;
  background-color: #fff;
}

.inner-body-wrapper {
  background-color: #e9f0f5a6;
}

h1 {
  font-size: 1.3em;
}

.top-page-headline {
  background-color: #5079A0;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  padding: 30px 0;
}

.sub-headline {
  text-align: center;
  text-transform: capitalize;
  color: #221F3D;
  padding-top: 30px;
  padding-bottom: 15px;
  margin: 0 auto;
  font-weight: bold;
}

hr {
  border-width:0;
  height: 10px;
  border-top: 5px solid #5079A0;
  border-bottom: 2px solid #5079A0;
  margin: 20px 15px;
}

fieldset {
  margin: 0 15px;
  border: none;
}

legend {
  font-size: 1.2em;
  font-weight: bold;
  margin: 16px 0;
}

form {
  border: none;
}

form p {
  padding: 0 33px;
  color: grey;
}

p:first-of-type {
  text-align: center;
}

.newsletter-field p {
  padding: 0;
  margin: 5px 0;
  text-align: start;
}

textarea {
  margin-top: 15px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select {
  all: unset;
  appearance: none;
  box-sizing: border-box;
  align-items: center;
  width: 100%;
  height: 50px;
  background: white;
  margin: 15px 0;
  padding: 0 15px;
  border-radius: 10px;
}

input::placeholder {
  text-align: right;
  font-style: italic;
  color: gray;
  padding-right: 5px;
}

input:hover,
textarea:hover,
select:hover {
  border: 1px solid #5079A0;
  cursor: pointer;
}

input:focus,
textarea:focus,
select:focus {
  background-color: white;
  outline: none;
  border: 2px solid #5079A0;
  transition-duration: .5s;
}

select::placeholder {
  color: gray;
  padding-right: 5px;
}

.sort-icon {
  background-image: url(sort-solid.svg);
  background-repeat: no-repeat;
  background-position: right 5% bottom 50%;;
  background-size: 13px;
}

input[type=radio],
input[type=checkbox] {
  width: 15px;
  height: 15px;
  padding: 0;
  margin: 0;
  vertical-align: bottom;
  position: relative;
  top: 1px;
  display: inline-block;
  margin-bottom: 15px;
}



.form-holder {
  position:absolute;
  display: inline-block;
  padding-left: 15px;
  margin-bottom: 15px;
}

#plain_text {
  margin-bottom: 30px;
}

textarea {
  width: 100%;
  height:100px;
  resize: vertical;
  background: white;
  padding: 15px;
  border-radius:10px;
}

textarea:focus{
  outline: none;
}

button {
  width: 290px;
  padding: 15px;
  border: none;
  border-radius: 10px;
  background-color: #5079A0;
  color: #fff;
  font-family: inherit;
  font-size: 1.2em;
  font-weight: 900;
  margin: 20px 15px;
}

button:hover {
  cursor: pointer;
}

.text-copyright {
  text-align: center;
  font-style:italic;
  color: grey;
  padding: 20px 0;
}

/* -- media queries --*/
@media (max-width: 767px){
  #zipcode {
    width: 50%;
    display: block;
  }
}

@media (min-width: 768px) {
  .body-container,
  input,
  select,
  label,
  textarea {
    font-size: 1.1em;
  }

  .inner-body-wrapper {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 30px;
  }

  .top-page-headline {
    margin: 0 auto;
    width: 100%;
  }

  .sub-headline {
    padding-top: 50px;
  }

  hr {
    margin: 50px 0;
  }

  fieldset,
  .newsletter-field label {
    margin: 0;
  }

  form p {
    padding: 0;
    text-align: start;
    color: grey;
  }

  .contact-info-row {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }

  .contact-info-row label {
    width: 30%;
  }
  
  .contact-info-row:last-child input {
    max-width: 30%;
  }

  .contact-info-row input,
  .contact-info-row select {
    flex: 2;
  }

  input[type=radio],
  input[type=checkbox] {
    width: 20px;
    height: 20px;
  }

  #plain_text {
    margin-bottom: 50px;
  }

  .form-holder {
    padding-left: 20px;
  }

  button {
    width: 100%;
    padding: 15px 0;
    margin: 30px auto;
  }

  .text-copyright {
    padding: 20px 0;
    margin-bottom: 15px;
  }
}
