* {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}

.body-container {
  font-family: 'Merriweather', serif;
  font-size: 12px;
  background-color: #F5F5F5;
}

.inner-body-wrapper {
  align: center;
}

.top-page-headline {
  background-color: #5079A0;
  color: white;
  text-transform: uppercase;
  text-align: center;
  padding: 30px 0;
}

.sub-headline {
  text-align: center;
  text-transform: capitalize;
  color: #221F3D;
  padding-top: 30px;
  padding-bottom: 15px;
  margin: 0 auto;
  font-weight: bold;
}

hr {
  border: 3px solid #5079A0;
  margin: 15px 0;
}

form {
  border: none;
  margin: 0 25px;
}

form p {
  padding: 15px 30px;
  color: grey;
}

input,
select {
  display:block;
  width: 100%;
  height: 40px;
  margin: 10px 0;
  padding: 5px;
  border-radius: 10px;
  border: none;
  transition: .3s border-color;
}

input:hover {
  border: 1px solid #5079A0;
}
input:focus {
  background-color: lightgrey;
  border: 1px solid #5079A0;
}

input[type=radio],
input[type=checkbox],
input[type=text],
 {


}

/*test section */
label {
  display: inline-block;
  margin-bottom: 5px;
  position: relative; /* to contain absolute elements */
  padding-left:20px; /* free space for custom radio button */
  cursor: pointer;
  text-align: left;
}
/* hide default radio button  */
label input[type=radio] {
  position: absolute; /* prevent taking any space */
  /* cross-browser hidingg */
  opactiy: 0;
  width:0;
  height:0;
}

textarea {
  width: 100%;
  height:100px;
  resize: vertical;
  padding:10px;
  border-radius:10px;
}

button[type="submit"]{
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #5079A0;
  color: #fff;
  font-weight: 900;
  border-radius: 10px;
}

.text-copyright {
  text-align: center;
  font-style:italic;
  color: grey;
  padding: 20px 0;
}

/*some of the break elements in the HTML are just for some structure before the CSS was done, so I need to take it out there as soon as I start writing my CSS rules*/

/* -- media queries --*/

@media (min-width: 768px) {

}
